@{
    ViewData["Title"] = "Update";
}
@model CarDto
<h1>Open Headlights</h1>

<div class="row">

    <div class=col-md-6>

        <form asp-action="Update" method="post" asp-controller="Vehicles">
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="wheels" />
            <input type="hidden" asp-for="ColorId" />
            <input type="hidden" asp-for="Model" />

            <div class="form-group">
                @Html.DropDownListFor(modelItem => modelItem.Headlights,
                    (new[] { new SelectListItem { Text = "True", Value = "1" }, 
                    new SelectListItem { Text = "False", Value = "0" } }), 
                    new { @class = "form-control" } )
            </div>

            <div class="form-group">
                <input type="submit" value="Update" class="btn-primary" />
            </div>
        </form>
    </div>
</div>